<div class="content-page" @routeAnimations>
    <section class="section-header">
        <div class="container">
            <h4 class="header center blue-text"><i class="material-icons">lightbulb</i> ASTUCES</h4>
            <div class="nav-wrapper center">
                <div class="col s12">
                    <a [routerLink]="['/accueil']" class="breadcrumb">Accueil</a>
                    <a [routerLink]="['/astuces/list']" class="breadcrumb active">Astuces</a>
                </div>
            </div>
            <div class="row center">
                <h5 class="header col s12 light grey-text text-lighten-1">Rechercher parmis les meilleurs astuces d'astuces disponibles sur Anonyma</h5>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">search</i>
                            <input type="text" id="autocomplete-input" class="autocomplete">
                            <label for="autocomplete-input">search the best</label>
                        </div>
                        <div class="submit-button right">
                            <a class="btn btn-raised btn-info gr" href="javascript:void(O)"><i class="material-icons left">search</i> Rechecher</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>

    <section class="section lb">
        <div class="container">
            <div class="row">
                <div class="col s12 m8">
                    <div class="topic-list">
                        <article class="well" @routeAnimations *ngFor="let topic of topics">
                            <div class="topic-desc row clearfix m-b-0">
                                <div class="col s12 m4">
                                    <img [src]="topic.imgDefault ? topic.imgDefault : 'assets/images/paper-pen-1.png'" alt="" class="responsive-img img-thumbnail">
                                </div>
                                <div class="col s12 m8">
                                    <h4><a [routerLink]="['/astuces/thematique', topic.key]">{{topic.title}}</a></h4>
                                    <div class="blog-meta clearfix">
                                        <small>{{topic.createDate  |date:'fullDate':'+0200':'fr'}}</small>
                                    </div>
                                    <div class="blog-forums-chips">
                                        <div class="chip" *ngFor="let keyword of topic.keywords">{{keyword}}</div>
                                    </div>
                                    <p class="line-champ-3"> {{topic.description}}</p>
                                    <a [routerLink]="['/astuces/thematique', topic.key]" class="readmore" title="">Continuez la lecture →</a>
                                </div>
                            </div>
                        </article>
                        <h5 class="title center orange-text" *ngIf="topics.length <= 0"> <i class="material-icons medium">warning</i><br>Aucun thématique !</h5>

                        <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
                            <li [ngClass]="pager.first ? 'disabled' : 'waves-effect'">
                                <a (click)="loadTopics(pager.current - 1)"><i class="material-icons">chevron_left</i></a>
                            </li>
                            <li *ngFor="let page of pager.pages" [ngClass]="(pager.current === page) ? 'active' : 'waves-effect'">
                                <a (click)="loadTopics(page)">{{page}}</a>
                            </li>
                            <li [ngClass]="pager.last ? 'disabled': 'waves-effect'">
                                <a (click)="loadTopics(pager.current + 1)"><i class="material-icons">chevron_right</i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="widget clearfix">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Thématiques</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group list-group-no-icon">
                                    <ng-container *ngFor="let subject of subjects; let i = index">
                                        <div class="list-group-item" [ngClass]="{active: subject.key == subjectKey}">
                                            <div class="row-topic">
                                                <header class="topic-title clearfix" (click)="updateCurrentSubject(subject.key)">
                                                    <h3 class="overflow-ellipsis">{{subject.title}}</h3>
                                                    <p class="overflow-ellipsis">{{subject.keywords.join(", ") }}</p>
                                                </header>
                                            </div>
                                        </div>
                                        <div class="list-group-separator" *ngIf="i < subjects.length - 1"></div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget clearfix">
                        <div class="banner-widget">
                            <a href="javascript:void(0)" target="new"><img src="assets/images/uploads/banner-secur.jpg" alt="" style="width: 100%;" class="responsive-img img-thumbnail"></a>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
</div>