<div class="content-page" @routeAnimations>
    <section class="section-header">
        <div class="container">
            <h4 class="header center blue-text"><i class="material-icons">lightbulb</i> ASTUCES</h4>
            <div class="nav-wrapper center">
                <div class="col s12">
                    <a [routerLink]="['/accueil']" class="breadcrumb">Accueil</a>
                    <a [routerLink]="['/astuces/list']" class="breadcrumb active">Astuces</a>
                </div>
            </div>
            <div class="row center">
                <h5 class="header col s12 light grey-text text-lighten-1">Rechercher parmis les meilleures astuces disponibles sur Anonym@</h5>
            </div>
        </div>
        <!-- end container -->
    </section>

    <section class="section lb">
        <div class="container">
            <div class="row">
                <div class="col s12 m8">
                    <div class="topic-list">
                        <article class="well" @routeAnimations *ngFor="let topic of topics">
                            <div class="topic-desc row clearfix m-b-0">
                                <div class="col s12 m4">
                                    <img [src]="fileToShows[topic.imgDefault] ? fileToShows[topic.imgDefault] : 'assets/images/paper-pen-1.png'" alt="" class="responsive-img img-thumbnail">
                                </div>
                                <div class="col s12 m8">
                                    <h4><a [routerLink]="['/astuces/thematique', topic.key]">{{topic.title}}</a></h4>
                                    <div class="blog-meta clearfix">
                                        <small>{{topic.createDate  |date:'fullDate':'+0200':'fr'}}</small>
                                    </div>
                                    <div class="blog-forums-chips">
                                        <div class="chip" *ngFor="let keyword of topic.keywords">{{keyword}}</div>
                                    </div>
                                    <p class="line-champ-3"> {{topic.description}}</p>
                                    <a [routerLink]="['/astuces/thematique', topic.key]" class="readmore" title="">Continuez la lecture →</a>
                                </div>
                            </div>
                        </article>
                        <h5 class="title center orange-text" *ngIf="topics.length <= 0"> <i class="material-icons medium">warning</i><br>Aucun thématique !</h5>

                        <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
                            <li [ngClass]="pager.first ? 'disabled' : 'waves-effect'">
                                <a (click)="loadTopics(pager.current - 1)"><i class="material-icons">chevron_left</i></a>
                            </li>
                            <li *ngFor="let page of pager.pages" [ngClass]="(pager.current === page) ? 'active' : 'waves-effect'">
                                <a (click)="loadTopics(page)">{{page}}</a>
                            </li>
                            <li [ngClass]="pager.last ? 'disabled': 'waves-effect'">
                                <a (click)="loadTopics(pager.current + 1)"><i class="material-icons">chevron_right</i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col s12 m3">
                    <div class="row">
                        <div class="col s12 m12">
                            <div class="widget banner clearfix thematiques-sujet" id="thematiques-sujet">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Derniers posts</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="list-group list-group-no-icon">
                                            <ng-container *ngFor="let histoire of lastHistoires; let i = index">
                                                <div class="list-group-item" style="cursor: pointer;">
                                                    <div class="row-topic">
                                                        <header class="topic-title clearfix">
                                                            <small [routerLink]="['/forums', histoire.id, 'details']" class="line-champ-2">{{histoire.texte}}</small>
                                                        </header>
                                                    </div>
                                                </div>
                                                <div class="list-group-separator" *ngIf="i < lastHistoires.length - 1"></div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m12 l12">
                            <div class="carousel carousel-slider" id="carousel-pub">
                                <div class="carousel-item">
                                    <div class="widget banner clearfix">
                                        <div class="banner-widget">
                                            <a href="javascript:void(0)" target="new"><img src="assets/images/uploads/banner.jpg" alt="" class="responsive-img img-thumbnail"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="widget banner clearfix">
                                        <div class="banner-widget">
                                            <a href="javascript:void(0)" target="new"><img src="assets/images/uploads/doc_01.png" alt="" style="width: 100%;" class="responsive-img img-thumbnail"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="widget banner clearfix">
                                        <div class="banner-widget">
                                            <a href="javascript:void(0)" target="new"><img src="assets/images/uploads/doc_02.png" alt="" style="width: 100%;" class="responsive-img img-thumbnail"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
</div>