nav ul a {
    color: #228fca;
    font-weight: 600;
}

nav ul a.btn-login {
    color: #ffffff;
    i.material-icons {
        font-size: 1.1rem;
    }
}

.dropdown-trigger {
    color: #ffffff !important;
}

#dropdown1 li a {
    color: #228fca;
}

#dropdown1 li.ele-menu a {
    color: #616161;
    i {
        margin: 0 5px 0 0;
    }
}

nav ul li.active {
    background-color: #228fca;
    a {
        color: #ffffff;
    }
}

i.icon-blue {
    color: #ffffff;
}

.icon-menu {
    font-weight: bold;
    font-size: 2rem;
    color: #228fca;
}

.bleu {
    background-color: #ffffff !important;
}