<header class="header">
    <nav class="bleu">
        <div class="nav-wrapper">
            <a href="javascript:void(0)" class="brand-logo">
                <img src="assets/images/logo2_lg.png" *ngIf="(account && !toggled) || !account" style="width: 195px;" class="responsive-img" alt="ANONYM@">
            </a>
            <a href="#" *ngIf="!account" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons icon-menu">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li routerLinkActive="active"><a [routerLink]="['/accueil']">Accueil</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/forums']">Forums</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/religions']">Religions</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/astuces']">Astuces</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/coaching']">Coaching</a></li>
                <li>
                    <a (click)="signIn()" *ngIf="!authenticate" class="waves-effect waves-light btn btn-login"><i class="material-icons left">lock</i> Connexion</a>
                    <a class='dropdown-trigger btn' *ngIf="authenticate" href='#' data-target='dropdown1'><i class="material-icons left">person</i> Mon Compte</a>
                    <!-- Dropdown Structure -->
                    <ul *ngIf="authenticate" id='dropdown1' class='dropdown-content'>
                        <li>
                            <a [routerLink]="">{{ user.firstName |titlecase }} {{ user.lastName |uppercase }}<br>
                                <small class="grey-text">{{ roleName }}</small>
                            </a>
                        </li>
                        <li class="divider" tabindex="-1"></li>
                        <li *ngIf="roleName == 'UTILISATEUR'" class="ele-menu"><a [routerLink]="['/account/user/my-topics']"><i class="material-icons blue-text">subject</i> Mes thématiques</a></li>
                        <li *ngIf="roleName == 'ADMINISTRATEUR' || roleName == 'MODERATEUR'" class="ele-menu"><a [routerLink]="['/account/admin/dashboard']"><i class="material-icons blue-text">settings</i> Administration</a></li>
                        <li class="ele-menu"><a [routerLink]="['/accueil']"><i class="material-icons blue-text">account_box</i> Mon profil</a></li>
                        <li class="ele-menu"><a [routerLink]="" (click)="signOut()"><i class="material-icons red-text">power_settings_new</i>Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>

<ul class="sidenav" id="mobile-demo" *ngIf="!account">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="assets/images/office.jpg">
            </div>
            <a *ngIf="authenticate" [routerLink]=""><img class="circle" src="assets/images/yuna.jpg"></a>
            <a *ngIf="authenticate" [routerLink]=""><span class="white-text name">{{ user.firstName |titlecase }} {{ user.lastName |uppercase }}</span></a>
            <a *ngIf="authenticate" [routerLink]=""><span class="white-text email">{{ roleName }}</span></a>
        </div>
    </li>
    <li routerLinkActive="active"><a [routerLink]="['/accueil']">Accueil</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/forums']">Forums</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/religions']">Religions</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/astuces']">Astuces</a></li>
    <li routerLinkActive="active"><a [routerLink]="['/coaching']">Coaching</a></li>
    <li *ngIf="!authenticate"><a (click)="signIn()" class="waves-effect waves-light btn modal-trigger btn-login"><i class="material-icons left">lock</i> Connexion</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li *ngIf="authenticate"><a class="subheader">Sous menu</a></li>
    <li *ngIf="authenticate && roleName == 'UTILISATEUR'" routerLinkActive="active"><a class="waves-effect" [routerLink]="['/account/user/my-topics']"><i class="material-icons blue-text">subject</i> Mes thématiques</a></li>
    <li *ngIf="authenticate && roleName == 'ADMINISTRATEUR' || roleName == 'MODERATEUR'" routerLinkActive="active"><a class="waves-effect" [routerLink]="['/account/user/my-topics']"><i class="material-icons blue-text">settings</i> Administration</a></li>
    <li *ngIf="authenticate" routerLinkActive="active"><a class="waves-effect" [routerLink]="['/accueil']"><i class="material-icons blue-text">account_box</i> Mon profil</a></li>
    <li *ngIf="authenticate"><a class="waves-effect" [routerLink]="" (click)="signOut()"><i class="material-icons red-text">power_settings_new</i>Déconnexion</a></li>
</ul>