<div class="content-page" @routeAnimations>
    <div class="row">
        <div class="col s12 m12">
            <a [routerLink]="['/accueil']" class="breadcrumb grey-text">Anonyma</a>
            <a [routerLink]="['/account/admin/astuces']" class="breadcrumb grey-text active">Astuces</a>
        </div>
    </div>

    <section class="section-header">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light grey-text text-lighten-1">Liste des astuces</h5>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">search</i>
                            <input type="text" id="autocomplete-input" class="autocomplete">
                            <label for="autocomplete-input">Rechercher dans la liste</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m12">
                            <button class="btn btn-raised btn-info gr right add-cucs modal-trigger" data-target="modal1"><i class="material-icons left">add</i> Ajouter un rubrique</button>
                        </div>
                        <div class="col m12">
                            <table id="tableTopics" class="responsive-table centered highlight">
                                <thead>
                                    <tr>
                                        <th>Titre</th>
                                        <th>Description</th>
                                        <th>Sujets</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let subject of subjects" [attr.data-subject]="subject.key" class="modal-trigger" data-target="modal1">
                                        <td>{{subject.title }}</td>
                                        <td class="line-champ-3">{{subject.description}}</td>
                                        <td><a class="blue-text" [routerLink]="['/account/admin/astuces', subject.key,'topics']"><i class="material-icons">visibility</i></a></td>
                                    </tr>
                                    <tr *ngIf="subjects && subjects.length <= 0">
                                        <td colspan="4" style="text-align: center;">Aucun rubtique trouvé</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
                                <li [ngClass]="pager.first ? 'disabled' : 'waves-effect'">
                                    <a (click)="loadPage(pager.current - 1)"><i class="material-icons">chevron_left</i></a>
                                </li>
                                <li *ngFor="let page of pager.pages" [ngClass]="(pager.current === page) ? 'active' : 'waves-effect'">
                                    <a (click)="loadPage(page)">{{page}}</a>
                                </li>
                                <li [ngClass]="pager.last ? 'disabled': 'waves-effect'">
                                    <a (click)="loadPage(pager.current + 1)"><i class="material-icons">chevron_right</i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4 class="overflow-ellipsis">{{ headerModal }}</h4>
        <app-form-subject *ngIf="formSubjectActive" [activeSubmit]="activeSubmit" [typeSubject]="typeSubject" [subject]="newSubject" (formSubmit)="onFormSubmit($event)"></app-form-subject>
    </div>
    <div class="modal-footer">
        <button type="cancel" class="modal-action modal-close waves-effect waves-red btn orange darken-3">Annuler</button>&nbsp;
        <button type="submit" class="waves-effect waves-red btn green darken-3" (click)="activeSubmit = true">Enregistrer</button>
    </div>
</div>