<ul class="collection">
    <li class="collection-item avatar" *ngFor="let comment of comments">
        <img src="assets/images/default/user-male-circle.png" alt="Anonyma" class="circle">
        <span class="title bold-text blue-text">Anonyme</span>
        <p>{{ comment.message }}</p>
    </li>
    <li class="collection-item avatar" *ngIf="comments.length <= 0">
        <p>Aucun commentaire pour le moment</p>
    </li>
</ul>
<br>
<br>
<br>
<h6>Partagez nous votre commentaire</h6>
<hr>
<div class="panel panel-primary">
    <div class="panel-body">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea class="materialize-textarea message"></textarea>
                        <label for="textarea1">Ecrivez votre commentaire ici...</label>
                    </div>
                    <div class="input-field col s12">
                        <button type="button" class="btn btn-raised btn-info gr save-comment" id="save-comment">
                            <span [hidden]="isLoading">Envoyer</span>
                            <span [hidden]="!isLoading">
                                <div class="preloader-wrapper small active" style="margin-top: 10px;">
                                    <div class="spinner-layer spinner-dark-only">
                                        <div class="circle-clipper left">
                                        <div class="circle"></div>
                                        </div><div class="gap-patch">
                                        <div class="circle"></div>
                                        </div><div class="circle-clipper right">
                                        <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>