<div class="content-page" @routeAnimations>
    <section class="section-header">
        <div class="container">
            <h4 class="header center blue-text"><i class="material-icons">forum</i> FORUMS</h4>
            <div class="nav-wrapper center">
                <div class="col s12">
                    <a [routerLink]="['/accueil']" class="breadcrumb">Accueil</a>
                    <a [routerLink]="['/forums/list']" class="breadcrumb active">Forums</a>
                </div>
            </div>
            <div class="row center">
                <h5 class="header col s12 light grey-text text-lighten-1">{{ 'séen naqar, suñu yitté.' |uppercase }}</h5>
            </div>
        </div>
        <!-- end container -->
    </section>

    <section class="section lb">
        <div class="container">
            <div class="row">
                <div class="col s12 m8">
                    <div class="widget clearfix">
                        <div class="panel panel-primary panel-addsubject">
                            <!-- <div class="panel-heading">
                                <h3 class="panel-title">Partagez-nous votre histoire</h3>
                            </div> -->
                            <div class="panel-body">
                                <form class="login-form" (ngSubmit)="addHistory()" [formGroup]="messageForm">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input type="text" autocomplete="false" id="message-email" class="validate" [ngClass]="{'is-valid': !f.email.errors}" [disabled]="submitted" formControlName="email">
                                            <label for="message-email">Votre adresse email</label>
                                        </div>
                                        <div class="input-field col s12">
                                            <textarea class="materialize-textarea message validate" id="message-texte" [ngClass]="{'is-valid': !f.texte.errors}" [disabled]="submitted" formControlName="texte"></textarea>
                                            <label for="message-texte" style="font-size: 1.5rem;">Ecrivez votre histoire ici...</label>
                                        </div>

                                        <div class="submit-button right">
                                            <button class="btn btn-raised btn-info gr" type="submit"><i class="material-icons left">send</i> Envoyer</button>
                                        </div>
                                    </div>
                                    <small style="color: #fff;">Après validation et réponse de votre coach votre histoire sera publié anonymement !</small>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="widget clearfix">
                        <div class="panel panel-primary" style="height: 320px;">
                            <div class="panel-heading">
                                <h3 class="panel-title">Derniers posts</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group list-group-no-icon">
                                    <ng-container *ngFor="let derniershistoire of derniershistoires; let i = index">
                                        <div class="list-group-item">
                                            <div class="row-topic">
                                                <header class="topic-title clearfix" [routerLink]="['/forums', derniershistoire.id, 'details']">
                                                    <p class="line-champ-2" style="color: #8c8c8c;">{{derniershistoire.texte }}</p>
                                                </header>
                                            </div>
                                        </div>
                                        <div class="list-group-separator" *ngIf="i < derniershistoires.length - 1"></div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m8">
                    <div class="topic-list">
                        <article class="well" @routeAnimations *ngFor="let histoire of histoires">
                            <div class="topic-desc row clearfix m-b-0">
                                <div class="col s2 m2">
                                    <img src="assets/images/default/user-male-circle.png" alt="Anonyma" class="responsive-img circle">
                                </div>
                                <div class="col s10 m10">
                                    <div class="blog-meta clearfix">
                                        <small>{{histoire.createDate  |date:'fullDate':'+0200':'fr'}}</small>
                                        <small class="blue-text bold-text cursor-pointer" [routerLink]="['/forums', histoire.id, 'details']"> ({{ histoire.commentTotal != null ? histoire.commentTotal : 0 }}) commentaires</small>
                                    </div>
                                    <p class="line-champ-3"> {{histoire.texte}}</p>
                                    <a [routerLink]="['/forums', histoire.id, 'details']" class="readmore" title="">Continuez la lecture →</a>
                                </div>
                            </div>
                        </article>
                        <h5 class="title center orange-text" *ngIf="histoires.length <= 0"> <i class="material-icons medium">warning</i><br> !</h5>
                        <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
                            <li [ngClass]="pager.first ? 'disabled' : 'waves-effect'">
                                <a (click)="loadPage(pager.current - 1)"><i class="material-icons">chevron_left</i></a>
                            </li>
                            <li *ngFor="let page of pager.pages" [ngClass]="(pager.current === page) ? 'active' : 'waves-effect'">
                                <a (click)="loadPage(page)">{{page}}</a>
                            </li>
                            <li [ngClass]="pager.last ? 'disabled': 'waves-effect'">
                                <a (click)="loadPage(pager.current + 1)"><i class="material-icons">chevron_right</i></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col s12 m4" style="object-fit: cover;">
                    <div class="carousel carousel-slider">
                        <div class="carousel-item">
                            <div class="widget clearfix">
                                <div class="banner-widget">
                                    <a href="javascript:void(0)" target="new"><img src="assets/images/uploads/banner.jpg" alt="" style="width: 100%;" class="responsive-img img-thumbnail"></a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="widget clearfix">
                                <div class="banner-widget">
                                    <a href="javascript:void(0)" target="new"><img src="assets/images/uploads/banner-secur.jpg" alt="" style="width: 100%;" class="responsive-img img-thumbnail"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
</div>