<div class="container" [@bounce]="bounce">
    <div class="col s12 z-depth-4 card-panel">
        <div class="row" *ngIf="error || registered">
            <div class="col s12 m12">
                <div class="card teal darken-1">
                    <div class="card-content white-text" style="text-align: justify;">
                        Une email de confirmation vous a été envoyer sur l'adresse email: <strong>{{f['email'].value}}</strong>. <br> Pour finaliser votre inscription veuillez confirmer l'email.<br>
                        <a [routerLink]="['/accueil']">Retour à la page d'accueil</a>
                    </div>
                </div>
            </div>
        </div>

        <form class="login-form" *ngIf="!registered" (ngSubmit)="register()" [formGroup]="registerForm">
            <div class="row">
                <div class="input-field col s12 center">
                    <img class="responsive-img" [routerLink]="['/accueil']" routerLinkActive="router-link-active" style="width: 250px; cursor: pointer;" src="assets/images/logo2_lg.png" />
                    <h4>Inscription</h4>
                    <p class="center margin">Inscrivez vous et plus rien ne vous empêche de dire en tout <strong>anonymat</strong> ce qui vous fait mal !</p>
                </div>
            </div>

            <div class="row" *ngIf="error">
                <div class="col s12 m12">
                    <div class="card red darken-1">
                        <div class="card-content white-text" style="text-align: justify;">
                            {{ error }}
                        </div>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='input-field col s12 m6'>
                    <i class="material-icons prefix">info_outline</i>
                    <input autocomplete="false" class='validate' type='text' name='firstName' id='firstName' [ngClass]="{'is-valid': !f.firstName.errors}" [disabled]="submitted" formControlName="firstName" />
                    <label for='firstName'>Prénom</label>
                    <p class="left m-0">
                        <app-control-messages [control]="f['firstName']"></app-control-messages>
                    </p>
                </div>

                <div class='input-field col s12 m6'>
                    <i class="material-icons prefix">info_outline</i>
                    <input autocomplete="false" class='validate' type='text' name='lastName' id='lastName' [ngClass]="{'is-valid': !f.lastName.errors}" [disabled]="submitted" formControlName="lastName" />
                    <label for='lastName'>Nom</label>
                    <p class="left m-0">
                        <app-control-messages [control]="f['lastName']"></app-control-messages>
                    </p>
                </div>
            </div>

            <div class='row'>
                <div class='input-field col s12 m6'>
                    <i class="material-icons prefix">mail_outline</i>
                    <input autocomplete="false" class='validate' type='text' name='email' id='email' [ngClass]="{'is-valid': !f.email.errors}" [disabled]="submitted" formControlName="email" />
                    <label for='email'>Email</label>
                    <p class="left m-0">
                        <app-control-messages [control]="f['email']"></app-control-messages>
                    </p>
                </div>

                <div class='input-field col s12 m6'>
                    <i class="material-icons prefix">person_outline</i>
                    <input autocomplete="false" class='validate' type='text' name='username' id='username' [ngClass]="{'is-valid': !f.username.errors}" [disabled]="submitted" formControlName="username" />
                    <label for='username' class="required">Nom d'utilisateur (6 caractères minimum)</label>
                    <p class="left m-0">
                        <app-control-messages [control]="f['username']"></app-control-messages>
                    </p>
                </div>
            </div>

            <div class='row'>
                <div class='input-field col s12 m6'>
                    <i class="material-icons prefix">lock_outline</i>
                    <input autocomplete="false" class='validate' type='password' name='password' id='password' [disabled]="submitted" [ngClass]="{'is-valid': !f.password.errors}" formControlName="password" />
                    <label for='password'>Mot de passe (6 caractères minimum)</label>
                    <p class="left m-0">
                        <app-control-messages [control]="f['password']"></app-control-messages>
                    </p>
                </div>

                <div class='input-field col s12 m6'>
                    <i class="material-icons prefix">lock_outline</i>
                    <input autocomplete="false" class='validate' type='password' name='confirmPassword' id='confirmPassword' [disabled]="submitted" [ngClass]="{'is-valid': !f.confirmPassword.errors}" formControlName="confirmPassword" />
                    <label for='confirmPassword'>Mot de passe (6 caractères minimum)</label>
                    <p class="left m-0">
                        <app-control-messages [control]="f['confirmPassword']"></app-control-messages>
                    </p>
                </div>
            </div>

            <div class='row'>
                <div class='input-field col s12 m6'>
                    <i class="material-icons prefix">today</i>
                    <input autocomplete="false" class='validate' type='text' name='age' id='age' [ngClass]="{'is-valid': !f.age.errors}" [disabled]="submitted" formControlName="age" />
                    <label for='age'>Age</label>
                    <div class="switch" style="text-align: left; margin-left: 10px;">
                        <label>
                          Homme
                          <input autocomplete="false" class="validate" type="checkbox" name='sex' id='sex' [ngClass]="{'is-valid': !f.sex.errors}" [disabled]="submitted" formControlName="sex" >
                          <span class="lever"></span>
                          Femme
                        </label>
                    </div>
                    <p class="left m-0">
                        <app-control-messages [control]="f['age']"></app-control-messages>
                    </p>
                </div>
            </div>

            <p class="text-cgi">
                En cliquant sur Accepter et s’inscrire, vous acceptez les Conditions d’utilisation, la Politique de confidentialité et la Politique relative aux cookies de Anonyma.
            </p>

            <div class="row">
                <div class="input-field col s12">
                    <button type='submit' name='btn_login' class='btn waves-effect waves-light col s12' [disabled]="registerForm.invalid">
                        <span [hidden]="isLoading">Accepter et s'inscrire</span>
                        <span [hidden]="!isLoading">
                            <div class="preloader-wrapper small active" style="margin-top: 10px;">
                                <div class="spinner-layer spinner-green-only">
                                    <div class="circle-clipper left">
                                    <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </button>
                </div>
                <div class="input-field col s12">
                    <p class="margin center medium-small sign-up">Déjà inscrit(e)? <a [routerLink]="['/login']">S'identifer</a></p>
                </div>
            </div>
        </form>
    </div>
</div>