<div class="content-page" @routeAnimations *ngIf="subject">
    <div class="row">
        <div class="col s12 m12">
            <a [routerLink]="['/accueil']" class="breadcrumb grey-text">Anonyma</a>
            <a [routerLink]="['/account/admin', nameType]" class="breadcrumb grey-text">{{ nameType |titlecase }}</a>
            <a [routerLink]="['/account/admin', nameType, subject.key,'topics']" class="breadcrumb grey-text active">Thématiques</a>
        </div>
    </div>

    <section class="section-header">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light grey-text text-lighten-1">Liste des Thématiques sur {{subject.title}}</h5>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">search</i>
                            <input type="text" id="autocomplete-input" class="autocomplete">
                            <label for="autocomplete-input">Rechercher dans la liste</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m12">
                            <button class="btn btn-raised btn-info gr right add-cucs" [routerLink]="['/account/admin', nameType, subject.key,'topics', 'new']"><i class="material-icons left">add</i> Ajouter un thématique</button>
                        </div>
                        <div class="col m12">
                            <table id="tableTopics" class="responsive-table centered highlight">
                                <thead>
                                    <tr>
                                        <th>Thématique</th>
                                        <th>Titre</th>
                                        <th>description</th>
                                        <th>Commentaires</th>
                                        <th *ngIf="currentUser.isAdmin">Actions</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let topic of topics" [routerLink]="['/account/admin', nameType, subject.key,'topics', 'update', topic.key]" id="topic-{{topic.key}}">
                                        <td>{{getSubjetTitle(topic.subject)}}</td>
                                        <td>{{topic.title }}</td>
                                        <td class="line-champ-3">{{topic.description}}</td>
                                        <td style="text-align: center;"> {{ topic.commentTotal ? topic.commentTotal : 0 }} </td>
                                        <td *ngIf="currentUser.isAdmin">
                                            <div class="actions">
                                                <span class="modal-trigger link red-text" (click)="$event.stopPropagation(); deleteTopic(topic.key)"><i class="material-icons">delete_forever</i></span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr *ngIf="topics && topics.length <= 0">
                                        <td colspan="5" style="text-align: center;">Aucun thématique trouvé</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
                                <li [ngClass]="pager.first ? 'disabled' : 'waves-effect'">
                                    <a (click)="loadPage(pager.current - 1)"><i class="material-icons">chevron_left</i></a>
                                </li>
                                <li *ngFor="let page of pager.pages" [ngClass]="(pager.current === page) ? 'active' : 'waves-effect'">
                                    <a (click)="loadPage(page)">{{page}}</a>
                                </li>
                                <li [ngClass]="pager.last ? 'disabled': 'waves-effect'">
                                    <a (click)="loadPage(pager.current + 1)"><i class="material-icons">chevron_right</i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>