<div class="content-page">
    <section class="section welcome bg1" [@bounce]="bounce">
        <div class="container">
            <div class="row">
                <div class="content col s8">
                    <div class="welcome-text">
                        <h1>Bienvenue sur <strong>Anonym@</strong></h1>
                        <p><b>{{ 'séen naqar, suñu yitté.' |uppercase }}</b> <br> Bienvenue sur le portail de soutien à Anonym@! Recherchez vos réponses avec la zone de recherche ci-dessus, ou vous pouvez créer un thématique dans nos forums.
                        </p>
                        <a class="btn btn-raised btn-info gr" [routerLink]="['/forums']"><i class="material-icons left">forum</i> Visitez nos forums</a>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end container -->
        </div>
        <!-- end container -->
    </section>

    <section class="section lb">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l9">
                    <div class="widget nopadding clearfix">
                        <div class="panel panel-primary nopadding">
                            <div class="panel-heading">
                                <h3 class="panel-title">Recherchez ici</h3>
                            </div>
                            <div class="panel-body">
                                <form class="site-search">
                                    <div class="input-field">
                                        <input id="last_name" type="text" class="validate">
                                        <label for="last_name">Que désirez-vous rechercher aujourd'hui?</label>
                                    </div>
                                    <div class="form-group clearfix">
                                        <!-- inline style is just to demo custom css to put checkbox below input above -->
                                        <div class="row">
                                            <div class="col m8 s12 left-align">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" class="filled-in" />
                                                        <span>Forums</span>
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" class="filled-in" />
                                                        <span>Thématiques</span>
                                                    </label>
                                                    <label>
                                                        <input type="checkbox" class="filled-in" />
                                                        <span>Religions et Asctuces</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col m4 s12 right-align">
                                                <div class="submit-button">
                                                    <a class="btn btn-raised btn-info gr" href="javascript:void(O)"><i class="material-icons left">search</i> Rechecher</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!-- end well -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs tabs-fixed-width">
                                <li class="tab col s3"><a href="#forumsTab" class="active"><i class="material-icons">forum</i> Forums ({{countForum}})</a></li>
                                <li class="tab col s3"><a href="#topicsTab"><i class="material-icons">brightness_3</i>Religions ({{countReligion}})</a></li>
                                <li class="tab col s3"><a href="#knowledgesTab"><i class="material-icons">lightbulb</i>  Astuces ({{countAstuce}})</a></li>
                            </ul>
                        </div>
                        <div id="forumsTab" class="col s12">
                            <ul class="list-topic">
                                <li class="well topic" *ngFor="let forum of forums">
                                    <div class="topic-title">
                                        <h3 [routerLink]="['/forums', forum.key, 'thematiques']">{{ forum.title |titlecase }}</h3>
                                        <div class="chip" *ngFor="let keyword of forum.keywords">{{keyword}}</div>
                                    </div>
                                    <div class="topic-desc">
                                        <p class="line-champ-3">{{ forum.description }}</p>
                                        <a [routerLink]="['/forums', forum.key, 'thematiques']" class="readmore" title="">Voir les thématiques →</a>
                                    </div>
                                </li>
                            </ul>
                            <a [routerLink]="['/forums']" class="readmore blue-grey-text" title="">Voir tout →</a>
                        </div>
                        <div id="topicsTab" class="col s12">
                            <ul class="list-topic">
                                <li class="well topic" *ngFor="let religion of religions">
                                    <div class="topic-title">
                                        <h3 [routerLink]="['/religions', religion.key, 'thematiques']">{{ religion.title |titlecase }}</h3>
                                        <div class="chip" *ngFor="let keyword of religion.keywords">{{keyword}}</div>
                                    </div>
                                    <div class="topic-desc">
                                        <p class="line-champ-3">{{ religion.description }}</p>
                                        <a [routerLink]="['/religions', religion.key, 'thematiques']" class="readmore" title="">Voir les thématiques →</a>
                                    </div>
                                </li>
                            </ul>
                            <a [routerLink]="['/religions']" class="readmore blue-grey-text" title="">Voir tout →</a>
                        </div>
                        <div id="knowledgesTab" class="col s12">
                            <ul class="list-topic">
                                <li class="well topic" *ngFor="let astuce of astuces">
                                    <div class="topic-title">
                                        <h3 [routerLink]="['/astuces', astuce.key, 'thematiques']">{{ astuce.title |titlecase }}</h3>
                                        <div class="chip" *ngFor="let keyword of astuce.keywords">{{keyword}}</div>
                                    </div>
                                    <div class="topic-desc">
                                        <p class="line-champ-3">{{ astuce.description }}</p>
                                        <a [routerLink]="['/astuces', astuce.key, 'thematiques']" class="readmore" title="">Voir les thématiques →</a>
                                    </div>
                                </li>
                            </ul>
                            <a [routerLink]="['/astuces']" class="readmore blue-grey-text" title="">Voir tout →</a>
                        </div>
                    </div>
                </div>
                <!-- end col -->

                <div id="rightContent" style="height: 0;"></div>
                <div class="col s12 m12 l3" *ngIf="state.pub=='show'" [@fadeInRight]="fadeInRight">
                    <div class="widget clearfix">
                        <div class="banner-widget">
                            <a href="javascript:void(0)" target="new"><img src="assets/images/uploads/banner.jpg" alt="" class="responsive-img img-thumbnail"></a>
                        </div>
                    </div>

                    <div class="widget clearfix">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Derniers Posts</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group list-group-no-icon">
                                    <ng-container *ngFor="let topic of lastTopics; let i = index">
                                        <div class="list-group-item">
                                            <div class="row-topic">
                                                <header class="topic-title clearfix">
                                                    <h3 class="overflow-ellipsis"><a [routerLink]="[getRoute(topic)]">{{topic.title}}</a></h3>
                                                    <small class="overflow-ellipsis">{{topic.description}}</small>
                                                </header>
                                            </div>
                                        </div>
                                        <div class="list-group-separator" *ngIf="i < lastTopics.length - 1"></div>
                                    </ng-container>
                                    <div class="list-group-item" *ngIf="lastTopics.length <= 0">
                                        <div class="row-topic">
                                            <header class="topic-title clearfix">
                                                <h3 class="overflow-ellipsis">Aucun post !</h3>
                                            </header>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
</div>