<div class="content-page">
    <div class="carousel carousel-slider" id="carousel-intro">
        <div class="carousel-fixed-item center">
            <!--<div class="center-align card-form-search">
                <div class="widget nopadding clearfix" [@pulse]="pulse">
                    <div class="panel panel-primary nopadding">
                        <div class="panel-body">
                            <app-form-search></app-form-search>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="container" *ngIf="displaySlide">
                <div class="row">
                    <div class="col s12 m12" id="swiper-actu">
                        <div class="swiper-container" [swiper]="config">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide" *ngFor="let histoire of histoires">
                                    <div class="card">
                                        <div class="card-image">
                                            <img src="assets/images/slides/01.jpg" alt="">
                                            <span class="card-title">Histoire</span>
                                        </div>
                                        <div class="card-content">
                                            <p class="line-champ-3"> {{histoire.texte}}</p>
                                            <a [routerLink]="['/forums', histoire.id, 'details']" class="readmore" title="">Continuez la lecture →</a>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="swiper-button-prev"></div>
                                <div class="swiper-button-next"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <section class="section welcome bg1" [@bounce]="bounce">
                <div class="container">
                    <div class="row">
                        <div class="content col s8">
                            <div class="welcome-text">
                                <h1>Bienvenue sur <strong>Anonym@</strong></h1>
                                <p class="line-champ-2"><b>{{ 'séen naqar, suñu yitté.' |uppercase }}</b> <br> Bienvenue sur le portail de soutien à Anonym@! Recherchez vos réponses avec la zone de recherche ci-dessus, ou vous pouvez créer un thématique dans nos forums.
                                </p>
                                <a class="btn btn-raised btn-info gr" [routerLink]="['/forums']"><i class="material-icons left">forum</i> Visitez nos forums</a>
                            </div>
                        </div>
                    </div>
                    <!-- end container -->
                </div>
                <!-- end container -->
            </section>
        </div>
        <div class="carousel-item">
            <section class="section welcome bg1" [@bounce]="bounce">
                <div class="container">
                    <div class="row">
                        <div class="content col s8">
                            <div class="welcome-text">
                                <h1>Welcome to <strong>Anonym@</strong></h1>
                                <p class="line-champ-2"><b>{{ 'séen naqar, suñu yitté.' |uppercase }}</b> <br> Welcome to the support portal at Anonym@! Look for your answers with the search area above, or you can create a theme in our forums.
                                </p>
                                <a class="btn btn-raised btn-info gr" [routerLink]="['/forums']"><i class="material-icons left">forum</i> Visit our forums</a>
                            </div>
                        </div>
                    </div>
                    <!-- end container -->
                </div>
                <!-- end container -->
            </section>
        </div>
        <div class="carousel-item">
            <section class="section welcome bg1" [@bounce]="bounce">
                <div class="container">
                    <div class="row">
                        <div class="content col s8">
                            <div class="welcome-text">
                                <h1>Dalal ak jàmm ci <strong>Anonym@</strong></h1>
                                <p class="line-champ-2"><b>{{ 'séen naqar, suñu yitté.' |uppercase }}</b> <br> Dalal ak jàmm ci portail de soutien à Anonym@! Recherchez vos réponses avec la zone de recherche ci-dessus, ou vous pouvez créer un thématique dans nos forums.
                                </p>
                                <a class="btn btn-raised btn-info gr" [routerLink]="['/forums']"><i class="material-icons left">forum</i> Visitez nos forums</a>
                            </div>
                        </div>
                    </div>
                    <!-- end container -->
                </div>
                <!-- end container -->
            </section>
        </div>
    </div>

    <section class="section lb">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l9">
                    <div class="topic-list">
                        <article class="well" *ngFor="let teaser of teasers">
                            <div class="topic-desc row clearfix m-b-0">
                                <div class="col s12 m4">
                                    <video controls class="responsive-img img-thumbnail responsive-video">

                                        <source [src]="teaser.presentation" type="video/mp4">

                                        Sorry, your browser doesn't support embedded videos.
                                    </video>
                                </div>
                                <div class="col s12 m8">
                                    <h4><a [routerLink]="['/', teaser.typeSubject.name]">{{teaser.title}}</a></h4>
                                    <div class="blog-forums-chips">
                                        <div class="chip" *ngFor="let keyword of teaser.keywords">{{keyword}}</div>
                                    </div>
                                    <p class="line-champ-3">
                                        {{teaser.description}}
                                    </p>
                                    <br>
                                    <a [routerLink]="['/', teaser.typeSubject.name]" class="readmore" title="">Continuez la lecture →</a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <!-- end col -->

                <div id="rightContent" style="height: 0;"></div>

                <div class="col s12 m12 l3 carousel-pub">
                    <div class="carousel carousel-slider" id="carousel-pub">
                        <div class="carousel-item">
                            <div class="widget clearfix">
                                <div class="banner-widget">
                                    <a href="javascript:void(0)" target="new"><img src="assets/images/uploads/banner.jpg" alt="" class="responsive-img img-thumbnail"></a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="widget clearfix">
                                <div class="banner-widget">
                                    <a href="javascript:void(0)" target="new"><img src="assets/images/uploads/doc_01.png" alt="" style="width: 100%;" class="responsive-img img-thumbnail"></a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="widget clearfix">
                                <div class="banner-widget">
                                    <a href="javascript:void(0)" target="new"><img src="assets/images/uploads/doc_02.png" alt="" style="width: 100%;" class="responsive-img img-thumbnail"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12 m12 l3">
                    <div class="widget clearfix">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Derniers Posts</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group list-group-no-icon">
                                    <ng-container *ngFor="let comment of lastComments; let i = index">
                                        <div class="list-group-item">
                                            <div class="row-topic">
                                                <header class="topic-title clearfix">
                                                    <h3 class="overflow-ellipsis" *ngIf="$any(comment).topic"><a [routerLink]="[getRoute('topic', comment.topic)]">{{$any(comment).topic.title}}</a></h3>
                                                    <h3 class="overflow-ellipsis" *ngIf="$any(comment).histoire"><a [routerLink]="[getRoute('histoire', comment.histoire)]">{{$any(comment).histoire.texte}}</a></h3>
                                                    <small class="overflow-ellipsis">{{comment.message}}</small>
                                                </header>
                                            </div>
                                        </div>
                                        <div class="list-group-separator" *ngIf="i < lastComments.length - 1"></div>
                                    </ng-container>
                                    <div class="list-group-item" *ngIf="lastComments.length <= 0">
                                        <div class="row-topic">
                                            <header class="topic-title clearfix">
                                                <h3 class="overflow-ellipsis">Aucun post !</h3>
                                            </header>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
</div>
<!-- <div class="aspect-ratio aspect-ratio-16-9" [@pulse]="pulse">
    <iframe width="500" height="300" src="assets/videos/amina.mp4" frameborder="0" allowfullscreen=""></iframe>
</div> -->