<aside id="sideBar">
    <ul class="main-nav">
        <!-- Your Logo Or Site Name -->
        <li class="nav-brand">
            <a [routerLink]=""><img class="circle" src="assets/images/default/user-male-circle.png">
                <span class="overflow-ellipsis">{{ user.firstName |titlecase }} {{ user.lastName |uppercase }}</span>
                <small>{{ getRolesName(user.roles) }}</small>
            </a>
        </li>
        <!-- Search -->
        <li *ngIf="getRolesName(user.roles) == 'UTILISATEUR'">
            <a [routerLink]="['/account/user/dashboard']" routerLinkActive="active" class="btn btn-raised btn-primary"><i class="material-icons left">home</i> Tableau de bord</a>
        </li>
        <li *ngIf="getRolesName(user.roles) == 'ADMINISTRATEUR'">
            <a [routerLink]="['/account/admin/dashboard']" routerLinkActive="active" class="btn btn-raised btn-primary"><i class="material-icons left">home</i> Tableau de bord</a>
        </li>
        <li *ngIf="getRolesName(user.roles) == 'UTILISATEUR'">
            <a [routerLink]="['/account/user/my-topics']" routerLinkActive="active" class="btn btn-raised btn-primary"><i class="material-icons left">subject</i> Mes thématiques</a>
        </li>
        <!--<li *ngIf="getRolesName(user.roles) == 'ADMINISTRATEUR'">
            <a [routerLink]="['/account/admin/forums']" routerLinkActive="active" class="btn btn-raised btn-primary"><i class="material-icons left">forum</i> Forums</a>
        </li>-->
        <li *ngIf="getRolesName(user.roles) == 'ADMINISTRATEUR'">
            <a [routerLink]="['/account/admin/histoires']" routerLinkActive="active" class="btn btn-raised btn-primary"><i class="material-icons left">forum</i> Histoires</a>
        </li>
        <li *ngIf="getRolesName(user.roles) == 'ADMINISTRATEUR'">
            <a [routerLink]="['/account/admin/chatbots']" routerLinkActive="active" class="btn btn-raised btn-primary"><i class="material-icons left">question_answer</i> Chatbots</a>
        </li>
        <li *ngIf="getRolesName(user.roles) == 'ADMINISTRATEUR'">
            <a [routerLink]="['/account/admin/religions']" routerLinkActive="active" class="btn btn-raised btn-primary"><i class="material-icons left">brightness_3</i> Religions</a>
        </li>
        <li *ngIf="getRolesName(user.roles) == 'ADMINISTRATEUR'">
            <a [routerLink]="['/account/admin/astuces']" routerLinkActive="active" class="btn btn-raised btn-primary"><i class="material-icons left">lightbulb</i> Astuces</a>
        </li>
        <li *ngIf="getRolesName(user.roles) == 'ADMINISTRATEUR'">
            <a [routerLink]="['/account/admin/coaching']" routerLinkActive="active" class="btn btn-raised btn-primary"><i class="material-icons left">filter_6</i> Coaching</a>
        </li>
        <li *ngIf="getRolesName(user.roles) == 'ADMINISTRATEUR'">
            <a [routerLink]="['/account/admin/teasers']" routerLinkActive="active" class="btn btn-raised btn-primary"><i class="material-icons left">ondemand_video</i> Teasers</a>
        </li>
        <li *ngIf="getRolesName(user.roles) == 'ADMINISTRATEUR'">
            <a [routerLink]="['/account/admin/users']" routerLinkActive="active" class="btn btn-raised btn-primary"><i class="material-icons left">group</i> Utilisateurs</a>
        </li>
        <li>
            <a [routerLink]="['/account/profil']" routerLinkActive="active" class="btn btn-raised btn-primary"><i class="material-icons left">account_box</i> Mon profil</a>
        </li>
    </ul>
</aside>