<form class="site-search" (ngSubmit)="submitForm()" [formGroup]="searchForm">
    <div class="row" style="margin-bottom: 0;">
        <div class="col m9 s12">
            <div class="input-field">
                <input id="last_name" type="text" [ngClass]="{'is-valid': !f.question.errors}" formControlName="question" class="validate">
                <label for="last_name" style="font-size: 1.2rem;">Que désirez-vous rechercher aujourd'hui?</label>
            </div>
        </div>
        <div class="col m3 s12">
            <div class="submit-button" style="margin-top: 20px;">
                <button class="btn btn-raised btn-info gr" type="submit"><i class="material-icons left">search</i> Rechecher</button>
            </div>
        </div>
    </div>
    <!-- <div class="form-group clearfix">
        <div class="row">
            <div class="col m8 s12 left-align">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" formControlName="inForums" class="filled-in" />
                        <span>Forums</span>
                    </label>
                    <label>
                        <input type="checkbox" formControlName="inReligions" class="filled-in" />
                        <span>Thématiques</span>
                    </label>
                    <label>
                        <input type="checkbox" formControlName="inAstuces" class="filled-in" />
                        <span>Religions et Asctuces</span>
                    </label>
                </div>
            </div>
            <div class="col m4 s12 right-align">
                <div class="submit-button">
                    <button class="btn btn-raised btn-info gr" type="submit"><i class="material-icons left">search</i> Rechecher</button>
                </div>
            </div>
        </div>
    </div> -->
</form>