#page-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
}