@import 'src/styles/composants/topic-list.scss';
.topic-list .well .topic-desc {
    border-bottom: 0;
    margin-bottom: 0;
}

.list-group .list-group-item {
    .topic-title p,
    .topic-title h3 {
        cursor: pointer;
    }
    .topic-title p {
        margin: 0;
        font-size: 0.89rem;
    }
    &.active .topic-title,
    &:hover .topic-title {
        h3 {
            color: #228fca;
            font-weight: 700;
        }
        p {
            color: #228fca !important;
            font-weight: 600;
        }
    }
}