<div class="content-page" @routeAnimations *ngIf="currentTopic">
    <section class="section-header">
        <div class="container">
            <h4 class="header center blue-text">{{subject.title |titlecase}}</h4>
            <div class="nav-wrapper center">
                <div class="col s12">
                    <a [routerLink]="['/accueil']" class="breadcrumb">Accueil</a>
                    <a [routerLink]="['/', nameType, 'list']" class="breadcrumb">{{ nameType |titlecase }}</a>
                    <a [routerLink]="['/', nameType, 'thematique', currentTopic.key]" class="breadcrumb active">{{ subject.title }}</a>
                </div>
            </div>
        </div>
        <!-- end container -->
    </section>

    <section class="section lb">
        <div class="container">
            <div class="row">
                <div class="col s12 m9">
                    <div class="single-topic-page topic-page topic-list blog-list">
                        <article class="well no-effect clearfix">
                            <div class="topic-desc row clearfix">
                                <div class="col s12 m12">
                                    <img *ngIf="fileToShow" [src]="fileToShow" alt="" class="cover">

                                    <div class="single-topic-meta">
                                        <h4><a [routerLink]="['/thematique', currentTopic.key]" title="">{{currentTopic.title | titlecase}}</a></h4>
                                        <div class="blog-meta clearfix">
                                            <small>{{currentTopic.createDate  |date:'fullDate':'+0200':'fr'}}</small>
                                        </div>
                                    </div>
                                    <div [innerHTML]="currentTopic.data"></div>

                                </div>
                            </div>
                            <!-- end tpic-desc -->
                            <footer class="topic-footer clearfix">
                                <div class="row">
                                    <div class="col s12">
                                        <div class="topic-actions">
                                            <!-- <div class="heart" [ngClass]="{'active': liked, 'desabled': !isAuthenticated()}" (click)="addLike($event)"><span class="count-heart">{{countLiked}}</span></div> -->
                                            <div class="comment" (click)="scrollToElement(makeComment)">Faire un commentaire <i class="material-icons">insert_comment</i></div>
                                        </div>
                                    </div>
                                </div>
                            </footer>
                            <!-- end topic -->
                        </article>
                        <!-- end article well -->
                    </div>
                    <!-- end blog-list -->

                    <div class="row" #listComments>
                        <div class="col s12 m12">
                            <div class="widget">
                                <div class="custom-module">
                                    <h4 class="module-title">Commentaires</h4>
                                    <app-comments [source]="'topic'" [key]="currentTopic.key" [id]="currentTopic.id"></app-comments>
                                    <div #makeComment id="makecomment"></div>
                                </div>
                                <!-- end custom-module -->
                            </div>
                            <!-- end widget -->
                        </div>
                    </div>
                    <!-- end row -->
                </div>

                <div class="col s12 m3">
                    <div class="widget clearfix thematiques-sujet" id="thematiques-sujet">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Thématiques</h3>
                            </div>
                            <div class="panel-body">
                                <div class="list-group list-group-no-icon">
                                    <ng-container *ngFor="let topic of topics; let i = index">
                                        <div class="list-group-item" [ngClass]="{active: topic.id == currentTopic.id}">
                                            <div class="row-topic">
                                                <header class="topic-title clearfix">
                                                    <h3 class="overflow-ellipsis"><a (click)="updateCurrentTopic(topic)">{{topic.title}}</a></h3>
                                                    <small (click)="updateCurrentTopic(topic)" class="overflow-ellipsis">{{topic.description}}</small>
                                                </header>
                                            </div>
                                        </div>
                                        <div class="list-group-separator" *ngIf="i < topics.length - 1"></div>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="widget clearfix">
                        <div class="banner-widget">
                            <a href="javascript:void(0)" target="new"><img src="assets/images/uploads/banner.jpg" alt="" style="width: 100%;" class="responsive-img img-thumbnail"></a>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
</div>