<div class="container" [@bounce]="bounce">
    <div class="col s12 z-depth-4 card-panel card-auth">
        <form (ngSubmit)="login()" [formGroup]="loginForm">
            <div class="row">
                <div class="input-field col s12 center">
                    <img class="responsive-img" [routerLink]="['/accueil']" routerLinkActive="router-link-active" style="width: 250px; cursor: pointer;" src="assets/images/logo2_lg.png" />
                    <h5>Connexion</h5>
                    <p class="center margin">Bon retour parmi nous !</p>
                </div>
            </div>

            <div class="row" [hidden]="!error">
                <div class="col s12 m12">
                    <div class="card red darken-1">
                        <div class="card-content white-text" style="text-align: justify;">
                            {{ error }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row margin">
                <div class="input-field col s12">
                    <i class="material-icons prefix">person_outline</i>
                    <input class='validate' type='text' name='username' id='username' [ngClass]="{'is-valid': !f.username.errors}" [disabled]="submitted" formControlName="username" />
                    <label for='username'>Nom d'utilisateur</label>
                    <p class="left m-0">
                        <app-control-messages [control]="f['username']"></app-control-messages>
                    </p>
                </div>
            </div>

            <div class="row margin">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock_outline</i>
                    <input class='validate' type='password' name='password' id='password' [disabled]="submitted" [ngClass]="{'is-valid': !f.password.errors}" formControlName="password" />
                    <label for='password'>Mot de passe</label>
                    <p class="left m-0">
                        <app-control-messages [control]="f['password']"></app-control-messages>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <button type='submit' name='btn_login' class='btn waves-effect waves-light col s12' [disabled]="loginForm.invalid">
                        <span [hidden]="isLoading">Se connecter</span>
                        <span [hidden]="!isLoading">
                            <div class="preloader-wrapper small active" style="margin-top: 10px;">
                                <div class="spinner-layer spinner-green-only">
                                    <div class="circle-clipper left">
                                    <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </button>
                </div>
                <div class="input-field col s12">
                    <p class="margin center medium-small sign-up">Nouveau sur Anonyma? <a [routerLink]="['/register']">S'inscrire</a></p>
                </div>
            </div>
        </form>
    </div>
</div>