<h6 class="indigo-text title-page">
    Bon retour parmi nous</h6>
<div class="section"></div>

<div class="container">
    <div class="z-depth-1 grey lighten-4 row card-auth">

        <form (ngSubmit)="login()" [formGroup]="loginForm" class="col s12">
            <div class='row'>
                <div class='col s12'>
                </div>
            </div>

            <div class="row" [hidden]="!error">
                <div class="col s12 m12">
                    <div class="card red darken-1">
                        <div class="row">
                            <div class="col s12 m12">
                                <div class="card-content white-text" style="text-align: justify;">
                                    {{ error }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='input-field col s12'>
                    <input class='validate' type='text' name='username' id='username' [ngClass]="{'is-valid': !f.username.errors}" [disabled]="submitted" formControlName="username" />
                    <label for='username'>Nom d'utilisateur</label>
                    <p class="left m-0">
                        <app-control-messages [control]="f['username']"></app-control-messages>
                    </p>
                </div>
            </div>

            <div class='row'>
                <div class='input-field col s12'>
                    <input class='validate' type='password' name='password' id='password' [disabled]="submitted" [ngClass]="{'is-valid': !f.password.errors}" formControlName="password" />
                    <label for='password'>Mot de passe</label>
                    <p class="left m-0">
                        <app-control-messages [control]="f['password']"></app-control-messages>
                    </p>
                </div>
                <label style='float: right;'>
                    <a class='pink-text' href='#!'><b>Mot de passe oublié?</b></a>
                </label>
            </div>

            <br />
            <div class="center-align">
                <div class='row'>
                    <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo' [disabled]="loginForm.invalid">
                        <span [hidden]="isLoading">Se connecter</span>
                        <span [hidden]="!isLoading">
                            <div class="preloader-wrapper small active" style="margin-top: 10px;">
                                <div class="spinner-layer spinner-green-only">
                                    <div class="circle-clipper left">
                                    <div class="circle"></div>
                                    </div><div class="gap-patch">
                                    <div class="circle"></div>
                                    </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                    </div>
                                </div>
                            </div>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<a [routerLink]="['/register']"><span class="grey-text">Nouveau sur Anonyma ? </span> <u><strong>S'inscrire</strong></u></a>